<article class="post-card">
  <h2 class="post-card-title">
    <a class="no-underline" href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>

  <div class="summary-tags">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
    {{ range .Params.tags }}
    <a class="no-underline" href="{{ ($.Site.GetPage (printf "/tags/%s" (. | urlize))).RelPermalink }}">#{{ lower . }}</a>
    {{ end }}
  </div>

  {{ if .Params.description }}
  <p class="post-card-excerpt">{{ .Params.description }}</p>
  {{ else }}
  <p class="post-card-excerpt">{{ .Summary | plainify | htmlUnescape | truncate 160 }}</p>
  {{ end }}

  <a class="no-underline post-card-more" href="{{ .Permalink }}">read more &rarr;</a>
</article>
