<aside class='mt3'>
	<!-- Latest posts -->
	<h3 class=''>Latest Posts</h3>
	<ul class='list-none'>
		{{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		<li>
			<a class='no-underline text-sm' href="{{ .RelPermalink }}">
				{{- .Title -}}
			</a>
		</li>
		{{ end }}
	</ul>

	<!-- tag cloud -->
	<h3>Tag Cloud</h3>
	{{ range .Site.Taxonomies.tags }}
	<a class='text-sm mr-2 p-1 no-underline lowercase' href="{{ .Page.Permalink }}">
		{{- .Page.Title -}}
	</a>
	{{ end }}

</aside>